@import 'boilerplate.scss';

$body_background:#F0F2E9;
$border_color: #d19405;
$border_hover_color: #d19405;
$link_color: #d19405;
$widget_color: #fff;
$widget_background: #fece2f;

$nav_color: $widget_color;
$nav_background: $widget_background;

$nav_hover_color: $nav_background;
$nav_hover_background:  $nav_color;

$button_background: $widget_background;
$button_color: $widget_color;

$button_hover_background:$widget_color;
$button_hover_color: $widget_background;

$warn_border_color: red;
$warn_color: black;
$warn_background: #ffb1b1;

$table_background: #ccc;
$table_odd_color: black;
$table_even_color: black;
$table_odd_background: #fece2f;
$table_even_background: #e36d27;
$table_header_background: #ccc;
$table_header_color: black;
$table_even_hover_background: yellow;
$table_odd_hover_background: $table_even_hover_background;

body {
    max-width: 800px;
    margin: 0px auto;
    background: $body_background;
    padding: 0px 50px;
}

a { color: $link_color }

#container {
    position: relative;
}

header h1 h2 h3 h4 h5{
    font-family: 'Helvetica', sans-serif;
    color: #444;
}
header h1 {
    font-size: 40px;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    border-bottom: 1px solid #ccc;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-size: 15px;
    font-weight: bold;
}

/*
 * The styles for the standard block content area
 */
#main {
    border-top: 3px solid $border_color;
    background: #fff;
    padding: 20px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

/*
*  A Banner to display some current stats info
*/
#info_banner ul {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    list-style-type: none;
    font-size: 90%;
    background: white;
    padding: 5px 10px 10px 10px;
    border-left: 2px solid $border_color;
    border-right: 2px solid $border_color;
    border-bottom: 2px solid $border_color;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow:0px 0px 5px black;
}

#info_banner ul li {
   padding: 3px 0px;
   border-bottom: 1px solid $border_color;

}

#info_banner span {
    width: 60px;
    display: inline-block;
}

nav {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    margin-right: 7px;
    margin-top: 5px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 7px 10px 4px 10px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top: 1px solid $border_color;
    border-right: 1px solid $border_color;
    border-left: 1px solid $border_color;
    background: $nav_background;
    color: $nav_color;
}

nav ul li a:hover {
    background: $nav_hover_background;
    color: $nav_hover_color;
    border-top: 1px solid $border_hover_color;
    border-right: 1px solid $border_hover_color;
    border-left: 1px solid $border_hover_color;

}

.answers input[type="text"] {
    margin: 5px 0px;
    width: 100%;
}

.answers textarea {
    margin: 5px 0px;
    width: 100%;
}


#login_panel {
    margin: 0px auto;
    width: 330px;
    padding-bottom: 10px;
}

#login_panel .form-row {
    margin: 5px 0px;
}

#login_panel .submit-row
{
    float: right;
}

#login_panel h3 {
    margin-bottom: 10px;
    font-size: 120%;
}

#login_form  label{
    font-weight: bold;
    width: 150px;
}

/*
* Styles for a short list of items to choose from
*/
.select_list {
width: 350px;
margin: 0px;
   list-style-type: none;
}

.select_list li {
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #444;
}

.select_list li a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0px 15px 10px;
}

.select_list li a:hover {
    background: #87c000;
    color: #fff;
}

.select_list a span {
    padding-left: 10px;
    text-transform: none;
    font-weight: normal;
}

/*
* A warning to show in a bubble
*/
.popup_warning_wrapper {
    position: fixed;
    z-index: 10;
    top: 5px;
    left: 0px;
    width: 100%;
}

.popup_warning {
    padding: 10px;
    border: 2px solid $warn_border_color;
    background: $warn_background;
    color: $warn_color;
    font-weight: bold;
    font-size: 120%;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    margin: 0px auto;
    width: 300px;
    text-align:left;
}

.question {
    font-style: italic;
    font-size: 110%;
    margin-bottom: 20px;
}

.pop_text {
    font-weight: bold;
    padding-top: 20px;
}


.admin_form textarea {
    margin: 5px 0px;
    width: 100%;
}

.admin_form label {
    font-weight: bold;
    text-align: right;
}
.admin_formset_panel {
     background: #bbb;
     margin-bottom: 20px;
}
.admin_formset_panel textarea {
     margin: 5px 5px;
     width: 95%
}

#story_page
{
    text-align:justify;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
*  Use the button tag everywhere
*/
button{
    display: inline-block;
    margin:10px 15px;
    background: $button_background;
    color: $button_color;
    border:1px solid $button_color;
    font-family: sans-serif;
    font-size:115%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
    padding: 5px 10px 5px 10px; /* Links */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow:0px 0px 5px black;
}

button:hover {
    border: 1px solid $button_hover_color;
    background: $button_hover_background;
    color: $button_hover_color;
}

/*
* A table with lots of items
 */
.table_list th {
    background: $table_header_background;
}
.table_list {
    border: 1px solid black;
}

.table_list  th {
    border: 1px solid black;
    padding: 2px 6px;
}

.table_list  td {
    border: 1px solid black;
    padding: 2px 6px;
}


.table_list tr.odd  {
    background: $table_odd_background;
    cursor:pointer;
}

.table_list tr.even  {
    background: $table_even_background;
    cursor:pointer;
}
.table_list tbody tr.even:hover {
   background: $table_even_hover_background;
}

.table_list tbody tr.odd:hover {
   background: $table_odd_hover_background;;
}

#marker_link input {
    margin: 5px 0px;
    size: 900px;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */


}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
