{% extends 'template_base.html' %}
{% block title %} Rider Page {% endblock %}


{% block content %}
<h2>Personal Page for {{ rider.username }}</h2>

{% ifequal rider.username rider.email %}
You have not set a username and password yet for this account. You can do this by clicking the button.
<button onClick="window.location='{%  url signup_change_username_and_password  %}'">Set Username and Password.</button>
{% else %}
<button onClick="window.location='{%  url signup_change_password  %}'">Change Password</button>
{% endifequal %}

<br/><br/>
<h3>My Recent Rides</h3>
<table id='ride_table' class='table_list'>
    <thead>
        <tr>
        <th style='display: none'>Link</th><th>Rider</th><th>Ride</th><th>Start</th><th>End</th><th>Distance</th>
        </tr>
    </thead>
    {% for ride in rider.ride_set.all %}
        <tr><td style='display: none;'>{% url ride_map ride.pk %}</td>
            <td>{{ ride.rider.username }}a</td>
            <td>{{ ride.name }}d</td>
            <td>{{ ride.start_time }}</td>
            <td>{{ ride.end_time }}</td>
            <td>{{ ride.html_distance }}</td>
        </tr>
    {% endfor %}
</table>

<h3>My  Routes </h3>
<table id='route_table' class='table_list'>
    <thead>
        <tr>
        <th style='display: none'>Link</th><th>Rider</th><th>Route</th>
        </tr>
    </thead>
    {% for route in rider.route_set.all %}
        <tr><td style='display:none;'>{% url route_map route.pk %}</td>
            <td>{{ route.creator.username }}</td>
            <td>{{ route.name }}</td>
        </tr>
    {% endfor %}
</table>


{%  endblock %}

{%  block javascript %}
<script type="text/javascript">
var my_ride_table;
var my_route_table;
$('#ride_table tbody tr').click( function() {
        var aData = my_ride_table.fnGetData( this );
        window.location.href=aData[0];
});
$('#route_table tbody tr').click( function() {
        var aData = my_route_table.fnGetData( this );
        window.location.href=aData[0];
});
$(document).ready(function() {
        my_ride_table =  $('#ride_table').dataTable({"aoColumnDefs": [ { "bVisible": false , 'aTargets':[0]}]});
        my_route_table =  $('#route_table').dataTable({"aoColumnDefs": [ { "bVisible": false , 'aTargets':[0]}]});
    } );
 </script>
{% endblock %}