{% extends 'template_base.html' %}
{% block title %} Route List {% endblock %}

{% block content %}

<h2>Routes</h2>

<button>Add A Route...</button>
<table id='route_table' class='table_list'>
    <thead>
        <tr>
        <th style='display: none'>Link</th><th>Rider</th><th>Route</th>
        </tr>
    </thead>
    {% for route in object_list %}
        <tr><td style='display:none;'>{% url route_map route.pk %}</td>
            <td>{{ route.creator.username }}</td>
            <td>{{ route.name }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{%  block javascript %}
<script type="text/javascript">
var my_route_table;
$('#route_table tbody tr').click( function() {
        var aData = my_route_table.fnGetData( this );
        window.location.href=aData[0];
});
$(document).ready(function() {
        my_route_table =  $('#route_table').dataTable({"aoColumnDefs": [ { "bVisible": false , 'aTargets':[0]}]});
    } );
 </script>
{% endblock %}