{% extends 'template_base.html' %}
{% block title %}System Map {% endblock %}

{% block javascript %}


<script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/map_funcs.js?5"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"> </script>

<script type="text/javascript">

 
var pointsData;
var posMarker;
var map;
var allMarkers = new Array;
var currentMarker = null;
var markerInfoTable = {% if marker_info %} {{ marker_info|safe}} {% else %} null {% endif %};
var directionsService = new google.maps.DirectionsService();
var markerIconPath = '{{ STATIC_URL }}img/';

var latestDirections;
var chart;
var chartMark;
var rideInfo = null;

var distanceMax = 1.0;
var distanceMin = 0;
var chartX = 500;
var chartY = 100;

var currentRouteGuid = {% if route %} '{{ route.pk}}' {% else %}null {% endif %};
var currentRideGuid = {% if ride %} '{{ ride.pk}}' {% else %}null {% endif %};

var currentMarkerId = {% if marker %} '{{ marker.pk}}' {% else %}null {% endif %};

var routeEditing = {% if route_editing %} true {% else %} false {% endif  %};


// Setup information from template

{% if user.pk %}
    var userPk = {{user.pk}};
{% else %}
    var userPk = 0;
{% endif %}


function makeMarkerVisibilityCallback(kind)
{
    return function(state) {
        for (i = 0; i < allMarkers.length; i++)
        {
            m = allMarkers[i];
            if (m.my_kind == kind)
            {
                m.setVisible($(this).is(':checked'));
            }
        }
    };
}


function drawChartDisplay(chart, rideInfo)
{
    drawChartBox(chartX, chartY);

    drawChart(chart, 0, 0, chartX, chartY, distanceMin, distanceMax, 0, rideInfo.max_speed, pointsData, 2, 4, 'blue');
    drawChart(chart, 0, 0, chartX, chartY, distanceMin, distanceMax, rideInfo.min_altitude, rideInfo.max_altitude, pointsData, 2, 3, 'black');
}



var wayPoints = new Array;

var directionsDisplay;

function requestUpdatedRoute(event)
{
    if(wayPoints.length < 1)
    {
        directionsDisplay.setMap(null);
        return;
    }

    var request = {
        origin:wayPoints[0].location,
        destination: wayPoints[wayPoints.length-1].location,
        waypoints: wayPoints.slice(1, wayPoints.length-1),
        travelMode: google.maps.DirectionsTravelMode.BICYCLING
    };
    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            latestDirections = response;
            directionsDisplay.setDirections(response);
            directionsDisplay.setMap(map);
        }
    });
}


function addWayPoint(event)
{
    wayPoints.push({ location: event.latLng });
    requestUpdatedRoute();
}

function clearRoute()
{
    wayPoints = new Array;
    currentRouteGuid = '';
    
    document.getElementById('route_name').value ='';
                
    $('#directions_panel').empty();
    requestUpdatedRoute();
}

function routeSaved()
{
    console.log("Route Saved");
}
function saveCurrentRoute()
{
    saveRoute(currentRouteGuid,  latestDirections, routeSaved);
}

function updateDirections(directions)
{
    console.log("Directions Updated");
    latestDirections = directions;

}   

function adjustToWindowSize()
{
    chartX = $('#chart_canvas').width();
    chartY = $('#chart_canvas').height();

    resizeChart(chart, chartX, chartY);

    if(rideInfo != null)
    {
        drawChartDisplay(chart, rideInfo);
    }

    $('#map_canvas').height($('#map_canvas').width());
}

function setupDirectionDisplay(panelId, updateFunction)
{
    var rendererOptions = {
        draggable: true,
        preserveViewport: true,
        suppressBicyclingLayer : true,
        draggable: routeEditing
    };

    directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
    
    google.maps.event.addListener(directionsDisplay, 'directions_changed',  updateFunction)

    
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById(panelId));
}

function initialize()
{
    console.log("Initialize");
// Setup map and chart

    var latlng = new google.maps.LatLng(47.65914420855326, -117.40264892578125);

    var myOptions = {
        zoom: 12,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
    
    var bikeLayer = new google.maps.BicyclingLayer();
    bikeLayer.setMap(map);
    
    
    setupDirectionDisplay("directions_panel", function() { updateDirections(directionsDisplay.directions);} )

    if(routeEditing)
        google.maps.event.addListener(map, 'click', addWayPoint);

    $.ajax({ url: '{% url all_markers %}', dataType: 'json', context: document.body,
        success: function(data)
        {
            markerInfoTable = data.info_table;
            loadMarkers(map, data);
            setupMarkerOptions('#map_options', makeMarkerVisibilityCallback);
            $("#map_options").buttonset();
            {% if marker %}
            if(currentMarkerId)
            {
                loadMarker(currentMarkerId, {{ marker.kind }});
            }
            {%  endif %}
        }
    });
    
    chart = createChart('chart_canvas',chartX, chartY);

    adjustToWindowSize();
    drawChartBox();
   
    if (currentRouteGuid)
    {
        loadRoute(currentRouteGuid, routeEditing);
    }
    
    if (currentRideGuid)
    {
        loadRide(currentRideGuid,'{{ STATIC_URL}}img/');
        $('#ride_detail').show();
    }


    // If the screen resizes we may need to deal with it
    $(window).resize(function() {         
            adjustToWindowSize();
        });

}

$().ready(initialize());

</script>
{% endblock %}


{% block content %}
    <div id="route_edit_controls" {%if not route_editing %} style='display: none;'{% endif %}>
            <button onclick='clearRoute();'>Clear Route </button>
            <button onclick='saveCurrentRoute();'> Save Route</button>
            Name: <input id="route_name"type="text" name="lname" />
    </div>
    <div id="marker_edit_controls" {%if not marker_editing %} style='display: none;'{% endif %}>
            <button onclick='saveMarker();'>Save Spot</button>

            Name: <input id="marker_name"type="text" name="mname" />
            Type:
            <select id='marker_kind' onchange='markerTypeChanged();'>
                {%  for kind, name in marker_types %}
                    <option {% ifequal kind marker.kind %} selected='selected' {%  endifequal %} value='{{kind}}'>{{ name }}</option>
                {%  endfor %}
            </select>
            <button onclick='markerToViewCenter();'>Center</button>
            <div>
            More Info: <input size='80' id="marker_link"type="text" name="mlink" />
            </div>
    </div>
<div id='ride_detail' {% if not ride %}style='display: none;' {% endif %}>
    <div id='ride_info'>
        <strong>Start:</strong>{{ride.start_time}}<br/>
        <strong>Dist:</strong>{{ride.html_distance}}<br/>
        <strong>Time:</strong>{{ride.html_duration}}<br/>
    </div>
     <table>
        <tr>
            <th>Distance</th><th>Speed</th><th>Altitude</th>
        </tr>
        <tr>
            <td> <span id="cur_distance">-</span><td> <span id="cur_speed">-</span><td> <span id="cur_altitude">-</span>
        </tr>
    </table>
    <div id="chart_canvas" mousemoved="mouseMoved(event);"  style="width:100%; height:100px;"></div>
</div>
<div id="map_canvas" style="width:100%;height:100%;"></div>
<div id="map_options" class='map_options'></div>
<div id="directions_panel" style="float:right;width:100%;height 100%"></div>

{% endblock %}