{% extends 'template_base.html' %}
{%  block content  %}
{% if error_message %}
  <p >{{ error_message }}</p>
{% endif %}
<form action="." method="post" id="login-form">{% csrf_token %}
    {{ user_form.as_p }}

 Enter a user name and password for this account. Note you can only set the username one time. Choose wisely.
  <button name='update' value='Update' type='submit'>Update</button>
 
</form>

{%  endblock %}
{%  block javascript %}
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}
